body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-right: 10px;
  margin-left: 10px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportWrapper{
  display:flex;
  justify-content: space-between;
  margin: 0 60px;
}

#supportWrapperInside{
  display:flex;
  justify-content: space-between;
  margin: 0 10px;
}

#InputField{
  width:600px;
  padding:15px;
  font-size: 18px;
  margin-bottom: 10px;
}